h2.text-center Rescue Base Finder
.row
	.col-md-4
		.list-group.base-finder
			button.list-group-item.base-finder__parent(type="button" data-toggle="collapse" data-target="#collapseOne") 
				span.label.label-default.label-pill.pull-xs-right 14
				| Region One
			#collapseOne.collapse
				.card
					.list-group
						button.list-group-item.small(type="button") Base 1
						button.list-group-item.small(type="button") Base 2
						button.list-group-item.small(type="button") Base 3
			button.list-group-item.base-finder__parent(type="button" data-toggle="collapse" data-target="#collapseTwo")
				span.label.label-default.label-pill.pull-xs-right 14
				| Region Two
			#collapseTwo.collapse
				.card
					.list-group
						button.list-group-item.small(type="button") Base 1
						button.list-group-item.small(type="button") Base 2
						button.list-group-item.small(type="button") Base 3
			button.list-group-item.base-finder__parent(type="button" data-toggle="collapse" data-target="#collapseThree")
				span.label.label-default.label-pill.pull-xs-right 14
				| Region Three
			#collapseThree.collapse
				.card
					.list-group
						button.list-group-item.small(type="button") Base 1
						button.list-group-item.small(type="button") Base 2
						button.list-group-item.small(type="button") Base 3
			button.list-group-item.base-finder__parent(type="button" data-toggle="collapse" data-target="#collapseFour")
				span.label.label-default.label-pill.pull-xs-right 14
				| Region Four
			#collapseFour.collapse
				.card
					.list-group
						button.list-group-item.small(type="button") Base 1
						button.list-group-item.small(type="button") Base 2
						button.list-group-item.small(type="button") Base 3
			button.list-group-item.base-finder__parent(type="button" data-toggle="collapse" data-target="#collapseFive")
				span.label.label-default.label-pill.pull-xs-right 14
				| Region Five
			#collapseFive.collapse
				.card
					.list-group
						button.list-group-item.small(type="button") Base 1
						button.list-group-item.small(type="button") Base 2
						button.list-group-item.small(type="button") Base 3
	.col-md-8
		.card
			img.card-img-top(src="holder.js/100px400?text=Map")