extends ../../layouts/layout.jade

block content
    .container
        .content
            .row
                .col-md-8
                    .card.single
                        .card-header About Us
                        .card-block
                            h1.card-title Our Values
                            p.small.pull-md-left
                            p.card-text.lead Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.
                            img.thumbnail(src="holder.js/100px400")
                            p.small.text-right
                                em This is an image caption
                            p Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum.
                            p Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                .col-md-4
                    .card.sidebar
                        .card-block
                            h4.card-title About Us
                        .list-group.list-group-flush
                            a.list-group-item(href="#") Our Values
                            a.list-group-item(href="#") Our Values
                            a.list-group-item(href="#") Our Values
                                                a(href="#")
                    a(href="#")
                        .card.story.card-inverse(style="background-color:#333;")
                            .card-block
                                br
                                br
                                h3.card-title Vestibulum id ligula porta felis euismod semper.
                                br
                                br
                                br