extends ../layouts/layout.jade

block content
    .container
        .content
            .row
                .col-md-12
                    ul.nav.nav-pills.small
                        li.nav-item
                            a.nav-link.active(href="/blog") Latest Stories
                        li.nav-item
                            a.nav-link(href="/blog/category") Rescues
                        li.nav-item
                            a.nav-link(href="/blog/category") Announcements
                        li.nav-item
                            a.nav-link(href="/blog/category") Competitions
                        li.nav-item
                            a.nav-link(href="/blog/category") Press
            br
            h1.Blog Category Title
            br
            .card-deck
                each title in ["Cras mattis consectetur purus sit amet.", "Morbi leo risus, porta ac consectetur ac, vestibulum at eros.", "Nullam id dolor id nibh ultricies vehicula ut id elit.", "Etiam porta sem malesuada magna."]
                    .card.story
                        img.card-img-top(src="holder.js/100px160")
                        .card-block
                            span.label.label-default Cateory
                            span.label.label-default Rescue Base Name
                            h4.card-title= title
                            p.small
                                strong 4 March 2016
                            a.card-link(href="/posts/single")
                                |   Read More 
                                i.fa.fa-long-arrow-right
            br
            .card-deck
                each title in ["Inceptos Cras Magna Tellus Sit","Fermentum Ligula Bibendum Nullam Euismod","Porta Fusce Dolor Sem Pellentesque","Dolor Commodo Vulputate Tristique Lorem"]
                    .card.story
                        img.card-img-top(src="holder.js/100px160")
                        .card-block
                            span.label.label-default Cateory
                            span.label.label-default Rescue Base Name
                            h4.card-title= title
                            p.small
                                strong 4 March 2016
                            a.card-link(href="/posts/single")
                                |   Read More 
                                i.fa.fa-long-arrow-right
            br
            .row
                .col-md-12
                    .read-more.text-center
                        a.btn.btn-primary(href="#")
                            | View more 
                            i.fa.fa-long-arrow-right